<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/recipes" class="navbar-brand">Recipe Book</a>
        </div>
    
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul> 

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>   
                    <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSave()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetch()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>        
        
    </div>
</div>