<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            ngModel
            name="name"
            type="text" 
            class="form-control" 
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            ngModel
            name="amount"
            type="number" 
            class="form-control" 
            id="amount"
            required
            pattern="^[1-9]+[0-9]*$">
        </div>      
      </div> 
      <div class="row">
        <div class="col-xs-12">      
        <button 
          class="btn btn-success btn-space" 
          type="submit" 
          [disabled]="!f.valid"
          (click)="onSubmit(f)">{{ editMode ? 'Update' : 'Add'}}
        </button> 
        <button 
          *ngIf="editMode"
          class="btn btn-danger btn-space" 
          type="button"
          (click)="onDeleteItem()">Delete
        </button>
        <button 
          class="btn btn-primary btn-space" 
          type="button"
          (click)="onClear()">Clear
        </button>
        </div>
      </div>
    </form>
  </div>
</div>
